{% extends "base.html" %}

{% block css %}

    <style>
        .navbar {
            background-color: lightcoral;
        }

        .client {
            width: 1500px;
        }

        th {
            text-align: center;
            font-size: smaller;
        }

        td {
            text-align: center;
            font-size: smaller;
        }

        {#   鼠标悬停样式    #}
        tr:hover {
            background-color: #ffffc1;
        }

        .selecte4 {
            background-color: lightcyan;
        }

        .panel-default > .panel-heading {
            background-color: white;
        }
    </style>
{% endblock %}


{% block content %}
    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/rental/add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建租凭
        </a>
     <div style="float:right;">
         <form method="get">
                <div class="input-group" style="width: 300px;">
                    <input type="text" class="form-control" placeholder="查编号..." name="search" value="{{ search }}">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            租凭列表
        </div>

        <table class="table table-bordered">
            <thead>
            <tr class="active">
                <th>租凭编号</th>
                <th>租凭开始日期</th>
                <th>租凭开始时间</th>
                <th>租凭结束日期</th>
                <th>租凭结束时间</th>
                <th>租凭前里程数</th>
                <th>租凭后里程数</th>
                <th>合同编号</th>
                <th>保险种类</th>
                <th>保险费</th>
                <th>客户编号</th>
                <th>车辆编号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <th scope="row">{{ obj.rentalno }}</th>
                    <td>{{ obj.datestart }}</td>
                    <td>{{ obj.timestart }}</td>
                    <td>{{ obj.datereturn }}</td>
                    <td>{{ obj.timereturn }}</td>
                    <td>{{ obj.mileagebefore }}</td>
                    <td>{{ obj.mileageafter }}</td>
                    <td>{{ obj.policyno }}</td>
                    <td>{{ obj.get_insurancecovertype_display }}</td>
                    <td>{{ obj.insurancepremium }}</td>
                    <td>{{ obj.clientno.clientno }}</td>
                    <td>{{ obj.vehlicenseno.vehlicenseno }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/rental/{{ obj.rentalno }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/rental/delete/?no={{ obj.rentalno }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# 分页导航   #}
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if queryset.has_previous %}
                <li><a href="?page=1"> &laquo; 首页</a></li>
                <li>
                    <a href="?page={{ queryset.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">{{ queryset.previous_page_number }}</span>
                    </a>
                </li>
            {% endif %}
            <!-- 当前页 -->
            <li class="active"><a href=""> {{ queryset.number }} <span class="sr-only"> </span></a></li>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if queryset.has_next %}
                <li><a href="?page={{ queryset.next_page_number }}"> {{ queryset.next_page_number }}</a></li>
                <li>
                    <a href="?page={{ queryset.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true"> 尾页&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}